body {
    background-color: #F7F7F7;
    user-select: none;
}

h3 {
    font-size: 24px;
    color: #3F51B5;
}

#main-content {
    align-items: center;
    display: flex;
    justify-content: center;
}

.main-card {
    padding: 10px 10px;
    margin-bottom: 30px;
}

#copyright {
    color: #7F7F7F;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
}

.fade-out-500ms {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden; 
}
